/* Stylesheet-Designdon */

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}


body {
    font-family: 'Syne', sans-serif;
    color: #1a1a1a;
    background-color: #bebebe;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: linear-gradient(-80deg,#242424,  #0f0f0f);
    color: #f4f4f4;
    padding: 30px 34px;
    display: flex;
    justify-content: right;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 0px 100px #cacacaa1, inset 0 0 20px #1a1a1a83, inset 0 0 40px 10px #1a1a1a;
}
  
footer {
    background: linear-gradient(-80deg,#242424,  #0f0f0f);
    height: 50px;
    color: #f4f4f4;
    text-align: center;
    padding: 20px 0px;
    box-shadow: 0px 0px 100px #cacacaa1, inset 0 0 20px #1a1a1a;
}

main {
    padding: 0px;
    width: 100%;
}

button{
    font-family: 'Syne', sans-serif;
}

/* Header stuff to keep everything lined up */

.brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.logo {
    height: 50px;
    width: auto; 
    display: block;
}

.menu {
    height: 50px;
    width: auto; 
    display: block;
    margin-left: 20px;
}

.wordmark {
    font-size: 20px;
    width: auto;
    margin-right: 30px;
    display: block;
    align-content: center;
}

/* Download button... (Might want to redesign, a bit too much) */

.download{
    background: linear-gradient(-50deg, #3f9ebb 2%, #5fd0f3 100%);
    border: none;
    padding: 15px 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-shadow: 0 1px 2px #2e3d5a;
    color:#ffffff;
    border-radius: 30px;
    box-shadow: inset 0px 0px 5px 2px #faeeff, inset 3px 1px 20px 4px #d7a6ee, 0 3px 15px 1px #4da0d88c, 0 3px 5px 1px #fcf6ff2d, 0 0 3px 2px #ffffff;
}

/* Headings */

.landing {
    color:#ffffff;
    text-align: center;
    align-content: center;
    mix-blend-mode: overlay;
    padding: 15%;
    text-shadow: 0px 2px 1px #1a1a1a, 1px 1px 30px #ffffff;
}

.landing h1{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2px;
}
.landing p{
    margin-top: -24px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: -2px;
    kerning: normal;
    font-weight:bolder;
    margin-bottom: 40px;
    text-decoration: underline;
    text-decoration-color: #5e5e5e8e;
    text-decoration-thickness: 10px;
}

h1, h2, h3 {
    font-family: 'Syne', sans-serif;
}

h3{
    font-weight:normal;
    padding-bottom: 8px;
    border-bottom: solid 6px #5e5e5e8e;
}

/* Sections and grid stuff , links, dropdowns, animation */

section {
    padding: 10px 30px 30px 30px;
    background: linear-gradient(65deg, #ffffff 50%, #dadada 100%);
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 40px 15px #ffffff, 0 0 3px 1px #ffffff, inset 0 0 40px 7px #ffffffb7, inset 0 0 9px 3px #ffffffa1;
}

.pulsate {
    box-shadow: 0 0 40px 15px #ffffff, 0 0 3px 1px #ffffff, inset 0 0 40px 7px #ffffffb7, inset 0 0 9px 3px #ffffffa1;
    transition: box-shadow 1s ease-in-out;
    animation: pulsate-animation 3s infinite alternate ease-in-out;
  }
  
  @keyframes pulsate-animation {
    0% {
        box-shadow: 0 0 25px 15px #ffffff, 0 0 3px 1px #ffffff, inset 0 0 40px 7px #ffffffb7, inset 0 0 9px 3px #ffffffa1;
    }
    100% {
        box-shadow: 0 0 50px 15px #ffffff, 0 0 6px 2px #ffffff, inset 0 0 40px 7px #ffffffb7, inset 0 0 9px 3px #ffffffa1;
    }
  }
  

.grid{
    padding:30px 30px;
    display: flex;
    flex-direction: column;
}
.grid2{
    padding:30px 30px;
    display: flex;
    flex-direction: row;
}


a:link, a:visited{
    color: #272727;
    text-decoration: none;
}

a:hover, a:active{
    color:#333333
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #575757;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(26,26,26,0.1);
    z-index: 1;
    top: 100%;
    margin-top: 10px;
    border-radius: 7px;
    border: solid 2px #ffffff;
}

.dropdown a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 7px;
    
}

.dropdown a:hover {
    color:#ffffff;
}

.dropdown-item:hover {
    border-radius: 7px;
    background: linear-gradient(90deg, #535353, #e4e4e4);
}

.show {
    display: block;
}

.base-button{
    font-family: 'Syne', sans-serif;
    background: linear-gradient(-50deg, #202020 2%, #535353 100%);
    border: none;
    padding: 10px;
    color:#ffffff;
    border-radius: 6px;
    box-shadow: inset 5px 2px 20px 4px #05050579, 0 0 30px #2e2e2e77;
}

.base-button a{
    color: #ffffff;
}

.base-button a:hover{
    color: #c1f1ff;
}

.collapsible-section .content {
    max-height: 55px; /* Adjust based on your needs */
    overflow: hidden;
    transition: max-height 1s ease;
}

.collapsible-section.expanded .content {
    max-height: 1200px; /* Adjust to be higher than the content's full height */
}

.toggle-button{
    background-color: none;
    background: none;
    Color: #3d3d3d;
    border: none;
    padding-top: 30px;
    position:relative;
    justify-content: center;
}
.toggle-button::after {
    content: "Expand To See All Content ▼";
}

.collapsible-section.expanded .toggle-button::after {
    content: "Shorten Content ▲";
}

.heading-container {
    overflow: hidden;
    padding: 2px;
    display: inline-block;
    white-space: nowrap;
    min-width: 100px;
    min-height: 50px;
    max-width: 300px;
    max-height: 50px;
    transform: translate3d(0, 0, 0);
  }
  
  .animated-heading {
    display: inline-block;
    will-change: transform;
    cursor: pointer;
    /* Ensure there's no animation defined here initially */
  }
  
  @keyframes slideInOut {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
      visibility: hidden;
    }
    50.1% {
      transform: translateX(100%);
      visibility: visible;
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animated-gradient {
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    background: linear-gradient(45deg, #ffffff, #555555, #cacaca, #dadada, #4b4b4b, #d3d3d3, #dbdbdb,  #646464, #c5c5c5, #c5c5c5, #ffffff);
    background-size: 400% 400%;
    animation: gradient-animation 12s ease infinite;
  }
  
  .button{
    background: #ffffff;
    padding: 8px  12px;
    border-radius: 5px;
    box-shadow: 0px 2px 9px #c7c7c7, inset -2px -4px 15px #e7e7e7;
  }

  p{
    margin: 24px 0px 32px;
  }