/* Stylesheet-Designdon */
html,body{
    height: 100%;
    margin:0;
}

.content-wrap {
  min-height: 100%;
  margin-bottom: -50px;
  display: flex;
  flex-direction: column;
}

.content-wrap:after {
  content: "";
  display: block;
  height: 50px;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #1a1a1a;
    background-color: #ffffff;
}

header {
    background: linear-gradient(-80deg,#de498e,  #27a5cc 2%, #59255b 5%, #1a1a1a 50%);
    color: #f4f4f4;
    padding: 30px 60px;
    display: flex;
    justify-content: right;
    width: 100%;
}

.brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.logo {
    height: 50px;
    width: auto; 
    display: block;
}

.wordmark {
    height: 20px;
    margin-right: 50px;
    width: auto;
    display: block;

}

main {
    padding: 0px;
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.sectionupper{
    display: flex;
    flex-direction: row;
}

section {
    padding: 30px 60px;
    background-color: #f4f4f4;
    margin-right: 20px;
    width-max: 36%;
}

footer {
    background: linear-gradient(-80deg,#de498e,  #27a5cc 2%, #59255b 5%, #1a1a1a 50%);
    height: 50px;
    color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
